body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
  }
  
  header {
    background-color:var(--secondary-color);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 15px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
   transition: scale(1.2);
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
   
  }

/*   
button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

button.editbtn {
  background-color: #4caf50;
  color: white;
  float: right;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.deletebtn {
  background-color: #f44336;
  color: white;
  float: right;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
:root{
  --primary-color:white;
  --secondary-color:#4caf50;
  --tertiary-color:black;
}
.darktheme{
  --primary-color:black;
  --secondary-color:grey;
  --tertiary-color:white;
}
h2{
  color:var(--tertiary-color)
}

#darkbtn{
  background-color: #fff;
  color:rgb(86, 66, 164);
  text-decoration: underline;
  font-family: Arial, sans-serif;
  font-weight: bold;
  /* padding: 10px; */
  /* margin-bottom: 5px; */
  /* border: 1px solid #ddd; */
  /* border-radius: 5px; */
}

